assets/favicon/

# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Ruby dependencies
.bundle/
vendor/

# Optional: VS Code workspace settings
.vscode/

# Avoid committing secrets
.env
