<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}" />
</head>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll('a[href^="http"]').forEach(function (link) {
        const isExternal = link.hostname !== window.location.hostname;
        if (isExternal) {
          link.setAttribute("target", "_blank");
          link.setAttribute("rel", "noopener noreferrer");
        }
      });
    });
  </script>
  
<body>
  <main>
    {{ content }}
  </main>
</body>
</html>
